.container {
    display: flex;
    flex-direction: row;
    height: auto;
    width: 100%;
}

.imageRadio {
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 4px;
}

.img {
    width: 100%;
    height: 100%;
    transition: transform 0.7s;
}

.imageRadio:hover {
    .img {
        transform: scale(1.1) translateZ(0);
        transition: transform 0.7s;
    }
}